* body{
    background-color: #14213D;
    color: #E5E5E5;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    background-color: #FCA311;
    color: #14213D;
    border: 1px solid #E5E5E5;
    text-align: center;
    font-size: 36px;
}

.uno{
    background-color: #243e64;
    font-size: 18px;
    padding: 10px;
    margin: 20px;
}

h2{
    color: #FCA311;
}

.container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
  }

  .row {
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
}

.column {
    flex: 1;
    padding: 10px;
}

@media (max-width: 600px) {
    .column {
      flex: 100%;
    }
}

.container-nav {
    display: flex;
    padding: 10px;
    height: 50px;
    background-color: black;
}
  
  
.navbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
  
  
.brand {
    display: flex;
    align-items: center;
}

  
li a {
    padding: 8px 24px;
}
  
  
li {
    list-style-type: none;
}
  
  
a {
    color: white;
    text-decoration:none;
}
  
  
.nav-links {
    display: flex;
    align-items: center;
}
  
  
.button-menu-toggle {
    display: none;
}

@media (max-width: 768px) {
    .column {
      flex: 100%;
    }
  
  
    .nav-links {
      display: none;
    }
  
  
    .button-menu-toggle {
      display: block;
      background-color: white;
      border:none;
      border-radius: 50px;
      padding: 0 24px;
      font-family: monospace;
      font-weight: bold;
      font-size: 20px;
    }
   
    .nav-links.nav-links-responsive {
      position: absolute;
      display: flex;
      background-color: rgba(20,20,20,0.95);
      width: 100%;
      height: 100%;
      top: 70px;
      left: 0;
      flex-direction: column;
      padding-top: 200px;
      align-items: center;
      gap:70px;
      font-size: 40px;
  
  
    }
}

#container-img-about{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
#container-img-about img{
    width: 40%;
    margin: 10px;
}

footer{
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (max-width: 580px) {
    iframe{
        width: auto;
    }
}

.greeting{
    width: 80%;
    text-align: center;
}